@font-face {
  font-family: "MyriadWebPro";
  src: url("../font/MyriadWebPro.ttf") format("truetype");
}

.login-pf body {
  background: none;
  background-color: #036;
}

#kc-logo-wrapper {
  background-image: url(../img/bcgovlogoH.svg);
  height: 90px;
  width: 300px;
}

#kc-container-wrapper {
  margin-top: 50px;
}

#kc-header-wrapper {
  text-align: center;
  color: white;
}

#kc-info, #kc-info-wrapper {
  border: none !important;
}

#kc-social-providers {
  text-align: right;
}

a.zocial {
  background-color: white;
  color: #003366;
  letter-spacing: 1px;
  /* Overwrite keycloak theme: */
  border: none !important;
  padding: 0 !important;
  text-shadow: none !important;
  font-size: 15px !important;
}

.btn {
  background-color: white;
  background-image: none;
  color: #003366;
  letter-spacing: 1px;
  border-radius: 5px;
  /* Overwrite keycloak theme: */
  border: none !important;
  text-shadow: none !important;
  font-size: 15px !important;
}

a.zocial:hover, .btn:hover {
  text-decoration: underline !important;
  color: #003366 !important;
}

/* Hide keycloak local account login */
.hidden {
  display: none;
}

@media (min-width: 768px) {
  #kc-logo-wrapper {
    right: 0;
    left: 0;
  }
}

@media (max-width: 700px) {
  #kc-social-providers {
    text-align: center;
  }
}
