#kc-logo-wrapper {
  background-image: url(../img/bcgovlogoH.svg);
  height: 90px;
  width: 300px;
}

#kc-container-wrapper {
  margin-top: 50px;
}

.login-pf body {
  background: none;
  background-color: #036;
}

@media (min-width: 768px) {
  #kc-logo-wrapper {
    right: 0;
    left: 0;
  }
}
