# vars 
# SSO_DC_NAME: string (the stateful set name)

# TARGET_NAMESPACE: string the target namespace to scale down the replicas

- name: Delete HPA if exists
  include_tasks: create_or_delete_sso_hpa.yml
  vars:
    _action: delete
    
- name: Scaling {{ SSO_DC_NAME }} to 0 pods 
  shell: oc scale deploymentConfig/{{ SSO_DC_NAME }} --replicas=0 -n {{ TARGET_NAMESPACE }}

- name: wait for {{ SSO_DC_NAME }} to be at 0 replicas 
  include_tasks: wait_for_rollout.yml
  vars:
    delay: 45
    KIND: DeploymentConfig
    OBJECT_NAME: "{{ SSO_DC_NAME }}" 
    DESIRED_REPLICAS: 0